<div class="container">

  <div class="card-booking bookings-user d-flex flex-column my-4 align-items-center">

    <div class="card-booking-title align-self-center">
      <h2><span class="highlight-red">Booking</span> confirmation</h2>
    </div>

    <div class="card-booking-body d-flex align-items-center">

      <div class="card-booking-avatar">
        <%= cl_image_tag("https://res.cloudinary.com/dbbfawc0n/image/upload/v1639501034/snnvw9r2am4ln8d8psfu.jpg")%>
      </div>

      <div class="card-booking-info d-flex">

        <div class="card-booking-detail px-3">
          <p> My appointment with <%= @booking.teacher.user.first_name %> <%= @booking.teacher.user.last_name %> </p>
          <p><%= @booking.date.to_time.strftime('%B %e %Y') %></p>
        </div>

        <div class="card-booking-price px-3">
          <p> Price <%= @booking.teacher.price %>€ </p>
        </div>

        <div class="card-buttons d-flex flex-column">
          <%= link_to 'Edit', edit_booking_path(@booking), class: 'btn btn-primary align-self-start my-1' %>
          <%= link_to 'Confirm', profil_path, class: 'btn btn-success align-self-start my-1' %>
        </div>
      </div>

    </div>
  </div>
</div>
