<div class="footer">
  <div class="footer-wrap">
    <div class="first_row">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <% end %>

      <%= render 'shared/search' %>
    </div>
    <div class="second_row">
      <div class="links">
        <div class="row justify-content-center w-100">
          <div class="rubriques col-sm-4 col-md-3 item">
              <h3>Assistance</h3>
              <ul>
                <%= link_to "Découvrir tous nos supers TA", teachers_path %>
              </ul>
          </div>
          <div class="rubriques col-sm-4 col-md-3 item">
              <h3>Join us</h3>
              <ul>
                <%= link_to "Become a TA", new_teacher_path %>
              </ul>
          </div>
          <div class="rubriques item">
              <h3>Suivez-nous</h3>
              <ul class="d-flex">
                  <li><a href="https://github.com/lewagon"><i class="fab fa-github"></i></a></li>
                  <li><a href="https://www.instagram.com/lewagonmarseille/"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://www.facebook.com/lewagonfrance"><i class="fab fa-facebook"></i></a></li>
              </ul>
          </div>
          <div class="third_row row justify-content-center">
            <p class="copyright">Evalut3d Team © 2021</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
