
<%= simple_form_for(@teacher) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= current_user.first_name %>
    <%= current_user.last_name%>
    <%= ", Congratulations, you become a Teacher Assistant :-)!"%>
    <%= f.input :description %>
    <%= f.input :city_name %>
    <%= f.input :specialty, collection: Teacher::SPECIALITIES, as: :select %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
