  <h2> Discover all our <span class= "highlight-red"> supers TA !</span></h2>
<div class="main-container d-flex">

  <div class="cards-teachers-list">
    <% if @teachers == []  %>
    <h4>Sorry no teachers match your search..</h4>
    <%= link_to 'Back',  root_path %>
    <%  end %>
    <% @teachers.each do |teacher| %>
      <% unless teacher.user == current_user  %>
      <div class="cards-teachers d-flex flex-column align-items-center">
        <div>
          <%if teacher.photo.attached? %>
            <%= cl_image_tag("#{teacher.photo.key}.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <% else %>
            <%= image_tag("TomLeTrain.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <% end %>
          <p><strong><%= teacher.user.first_name %></strong></p>
          <p> <%= teacher.specialty %></p>
        </div>
        <div class="cards-price-teacher d-flex align-self-center">
          <p><strong><%= teacher.price.floor %> €</strong></p>
        </div>
        <div>
          <%= link_to 'Show Details',  teacher_path(teacher), class: 'btn btn-primary my-1'%>
          <%= link_to 'Book Me!',  new_teacher_booking_path(teacher), class: 'btn btn-danger'%>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
        <div id="map" class="position-sticky"
          style="width: 40%; height: 100vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
</div>
