<h2> Discover all our <span class= "highlight-red"> supers TA !</span></h2>
<div class="main-container d-flex">

  <div class="cards-teachers-list">
    <% if @teachers == []  %>
    <h4>Sorry no teachers match your search..</h4>
    <%= link_to 'Back',  root_path %>
    <%  end %>
    <% @teachers.each do |teacher| %>
      <% unless teacher.user == current_user  %>
      <div class="cards-teachers d-flex flex-column align-items-center justify-content-around">
        <div class="avatar-teacher">
          <%if teacher.photo.attached? %>
            <%= cl_image_tag("#{teacher.photo.key}.jpg") %>
          <% else %>
            <%= image_tag("TomLeTrain.jpg") %>
          <% end %>
        </div>
        <div class="name">
          <p><strong><%= teacher.user.first_name %></strong></p>
        </div>
        <div class="city_name">
        <p><strong><%= teacher.city_name %></strong></p>
        </div>
        <div class="specialty">
          <p> <%= teacher.specialty %></p>
        </div>
        <div class="description">
         <small><i class="fas fa-quote-left mr-2"></i><%= teacher.description %></small>
        </div>
        <div class="cards-price-teacher d-flex align-self-center">
          <p><strong><%= teacher.price.floor %> €</strong></p>
        </div>

          <%= link_to 'Tell me more',  teacher_path(teacher), class: "small"%>
          <%= link_to new_teacher_booking_path(teacher),  :class => "btn btn-danger" do  %>
            Book ME !
          <%end %>
      </div>
      <% end %>
    <% end %>
    </div>
        <div id="map" class="position-sticky"
          style="width: 40%; height: 100vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
</div>
