<div class="container">

        <h1> <span class="highlight-red"><%= @teacher.user.first_name %></span> <%= @teacher.user.last_name%></h1>
        <h4><%= @teacher.city_name %></h4>

  <div class="card-teacher teachers-user d-flex justify-content-center">

      <div class="card-teacher-body d-flex">
        <div class="card-teacher-avatar">
          <%if @teacher.photo.attached? %>
            <%= cl_image_tag("#{@teacher.photo.key}.jpg") %>
          <% else %>
            <%= image_tag("TomLeTrain.jpg") %>
          <% end %>
        </div>

        <div class="card-teacher-info d-flex">

          <div class="card-teacher-detail">
            <p> <%= @teacher.description %></p>
            <p>What I propose...</p>
            <p> <%= @teacher.specialty %></p>
          </div>

          <div class="card-teacher-price">
            <p> Price <%= @teacher.price %>€ </p>
          </div>

          <% if @teacher.user == current_user %>
            <%= link_to 'Stop being TA', teacher_path(@teacher), method: :delete, class: "btn btn-danger align-self-start", data: { confirm: 'Are you sure you want to stop being a TA ?' } %>
          <% else %>
            <%= link_to 'Book This TA',  new_teacher_booking_path(@teacher), class: 'btn btn-success align-self-start' %>
          <% end %>

        </div>

      </div>

  </div>

  <%= link_to "Back", teachers_path %>

</div>
